.idea
*.o
*.lo
/.libs
/Makefile
/Makefile.fragments
/Makefile.objects
/autom4te.cache
/build
/run-tests.php
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure.ac
/libtool
/php_toml.la
/modules
